:root{
    --primary_color: rgb(130, 100, 180);
    --secondary_color: #FFFFFF;
    --third_color: #39393A;
    --nav-hover-color: #ff7d59;
    --max-width: 1920px;
}

.active {
    font-weight: 900;
    font-size: 1.3rem;
}

::after,*,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*default*/
body{
    background-color: #F2EFF7;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
nav{
    background-color: var(--secondary_color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

/*navbar 1*/
.navbar{
    display: flex;
    max-width: var(--max-width);
    margin: auto;
    flex-direction: column;
}

/*navbar_one 1.1*/

.navbar_one{
    display: flex;
    justify-content: space-between;
}

.navbar_one h1{
    font-size: 3rem;
    margin-left: 50px;
    padding: 5px;
    color: var(--primary_color);
}

.navbar_one #github{
    margin-right: 5%;
    padding-top: 10px;
}

.navbar_one #github svg:hover{
    fill: var(--nav-hover-color);
}

/*navbar_two 1.2*/
.navbar_two {
    display: flex;
    margin-left: 40px;
}

.navbar_two li{
    padding: 10px;
    margin: 0 10px;
    border-top: 1px solid var(--primary_color);
}

.navbar_two a{
    display: inline-block;
    color: var(--primary_color);
    font-size: 1.25rem;
}

.navbar a:hover{
    color: var(--nav-hover-color);
}


/*main*/
main{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 50px;
    display: flex;
}

/*left_section 1.1*/
.option_box h2{
    background-color: var(--primary_color);
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
    color: var(--secondary_color);
    box-shadow:0 9px 16px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

/*left_section 1.2*/
.left_section{
    width: 100%;
    padding-right: 25px;
}

.option_box ul{
    font-size: 1.25rem;
}

.list_items{
    box-shadow:0 9px 16px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: var(--secondary_color);
    margin-top:10px;
    position: relative;
    width: 100%;
    padding: 15px 20px;
}

.option_name{
    float: left;
}

.option_label{
    font-weight: bold;
    float: right;
}

.slider_outerdiv{
    padding: 0 10px;
}

.slider{
    margin: 10px auto 2px auto;
    width: 100%;
    -webkit-appearance: none;
    height: 10px;
    background: linear-gradient(90deg, rgb(156, 133, 210) 50%, rgb(255 255 255) 50%);
    outline: none;
    opacity: 0.9;
    -webkit-transition: 0.2s;
    transition: all 0.2s;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(156, 133, 210);
    border-radius: 50%;
    transition: all 0.02s;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.slider::-moz-range-thumb{
    width: 20px;
    height: 20px;
    background: rgb(156, 133, 210);
    border-radius: 50%;
    transition: all 0.02s;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.slider::-webkit-slider-thumb:active{
    background-color: rgb(156, 133, 210);
}

.slider::-moz-range-thumb:active{
    background-color: rgb(156, 133, 210);
}

/*shadow color*/
.shadow_color{
    float: none;
}

.helper{
    display: flex;
    position: relative;
    height: 45px;
    margin-left: 40%;
    margin-top: 5px;
    padding-right: 5px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 4px;
    background: var(--secondary_color);
    box-shadow: 0 0 5px rgba(0, 0, 0,.15);
}

#shadow_color_label{
    height: 75%;
    margin: 5px;
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    background: var(--secondary_color);
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.15);
    padding: 5px;
}

.pickr{
    display: flex;
}

.pickr .pcr-button:after, .pickr .pcr-button:before{
    border-radius: 50%;
}

/*inset switch*/
.btn_outerdiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}
#inset_checkbox{
    position: relative;
    width: 60px;
    height: 30px;
    margin: 0 10px;
}

#on_off{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary_color);
    transition: all .5s;
    border-radius: 34px;
    box-shadow: 0 0 4px rgba(0, 0, 0,.25);
}

#inset_checkbox input{
    position: relative;
    left: 50%;
}

#on_off:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: var(--primary_color);
    transition: all .5s;
    border-radius: 34px;
}

#inset_checkbox input:checked + #on_off{
    background-color: var(--primary_color);
}

#inset_checkbox input:checked + #on_off:before{
    transform: translate(30px);
    background-color: var(--secondary_color)
}


/*right section 1.2*/
.right_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*showcase 1.2.1*/
.showcase_box{
    width: 100%;
    height: 360px;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0,.15);

}

/*showcase box 1.2.1.1*/
.showcase_box .showcase{
    position: absolute;
    background-color: var(--primary_color);
    width: 40%;
    height: 55%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*css code box 1.2.2*/
.show_css_code{
    font-size: 1.3rem;
}

/*copybutton  1.2.3*/

#copy_btn{
    background-color: #793cd0;
    color: var(--secondary_color);
    font-size: 1.25rem;
    border:none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0,.25);
    opacity: 0.7;
    transition: all 0.07s;
    text-align: center;
    position: relative;
}

#copy_btn:hover{
    opacity: 1;
}

#copy_btn:active:before{
    content: '✔Copied';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 0;
    color: #793cd0;
    border-radius: 4px;
    background-color: var(--secondary_color);
    font-weight: bold;
    border: 2px solid #793cd0;
}

#copy_btn:active{
    color: var(--primary_color);
    background-color:var(--secondary_color);
}

/* description 1.2.4*/
.description{
    text-align: center;
}

/*footer*/
footer{
    margin: 60px;
    padding: 0 50px;
    text-align: center;
    font-size: 1.5rem;
}